
header{
    margin:0;
    padding:0;
}
.headerWrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: lightgreen;
    height: 50px;
    font-size: x-large;
    color: red;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
a{
    text-decoration: none;
}

.logout{
    height: 25px;
    width: 55px;
    margin: 20px 60px;
    border-radius: 10px;
}